:root {
    --blue: #1e648d;
}

.theme-light code[class*="language-"],
.theme-light pre[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-dark code[class*="language-"],
.theme-dark .token.operator,
.theme-dark .token.entity,
.theme-dark .token.url,
.theme-dark .language-css .token.string,
.theme-dark .style .token.string,
.theme-dark .token.variable {
    white-space: pre-wrap;
    background-color: transparent;
    font-weight: 500;
    color: var(--font) !important;
    text-shadow: none;
}

.theme-dark .token.punctuation,
.theme-light .token.punctuation {
    color: var(--text-faint) !important;
}

.theme-dark .token.comment,
.theme-dark .token.prolog,
.theme-dark .token.doctype,
.theme-dark .token.cdata {
    color: slategray !important;
}

.theme-dark .token.punctuation {
    color: #999 !important;
}

.theme-dark .token.namespace {
    opacity: 0.7;
}

.token.tag {
    background-color: transparent !important;
}

.theme-dark .token.property,
.theme-dark .token.tag,
.theme-dark .token.boolean,
.theme-dark .token.number,
.theme-dark .token.constant,
.theme-dark .token.symbol,
.theme-dark .token.deleted {
    color: #905;
}

.theme-dark .token.selector,
.theme-dark .token.attr-name,
.theme-dark .token.string,
.theme-dark .token.char,
.theme-dark .token.builtin,
.theme-dark .token.inserted {
    color: #690;
}

.theme-dark .token.operator,
.theme-dark .token.entity,
.theme-dark .token.url,
.theme-dark .language-css .token.string,
.theme-dark .style .token.string {
    color: #9a6e3a;
    background-color: transparent;
}

.theme-dark .token.atrule,
.theme-dark .token.attr-value,
.theme-dark .token.keyword {
    color: #07a;
}

.theme-dark .token.function,
.theme-dark .token.class-name {
    color: #DD4A68;
}

.theme-dark .token.regex,
.theme-dark .token.important,
.theme-dark .token.variable {
    color: #e90;
}

.theme-light .token.comment,
.theme-light .token.prolog,
.theme-light .token.doctype,
.theme-light .token.cdata {
    color: slategray;
}

.theme-light .token.punctuation {
    color: #999;
}

.theme-light .token.namespace {
    opacity: 0.7;
}

.theme-light .token.property,
.theme-light .token.tag,
.theme-light .token.boolean,
.theme-light .token.number,
.theme-light .token.constant,
.theme-light .token.symbol,
.theme-light .token.deleted {
    color: #905;
}

.theme-light .token.selector,
.theme-light .token.attr-name,
.theme-light .token.string,
.theme-light .token.char,
.theme-light .token.builtin,
.theme-light .token.inserted {
    color: #690;
}

.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string {
    color: #9a6e3a;
    background: transparent;
}

.theme-light .token.atrule,
.theme-light .token.attr-value,
.theme-light .token.keyword {
    color: #07a;
}

.theme-light .token.function,
.theme-light .token.class-name {
    color: #DD4A68;
}

.theme-light .token.regex,
.theme-light .token.important,
.theme-light .token.variable,
.theme-light .cm-def {
    color: #e90 !important;
}

.cm-s-obsidian .cm-templater-command.cm-property,
.cm-s-obsidian .cm-templater-command.cm-variable,
span.cm-templater-command.cm-undefined {
    color: #697a74 !important;
}

.cm-s-obsidian .templater-command-bg,
.cm-s-obsidian .templater-inline .cm-templater-command {
    background-color: transparent !important;
}

.cm-s-obsidian .cm-templater-command.cm-string {
    color: #e3ba31 !important;
}