/* Line up "native" blockquotes with transcluded ones in PDF */
@media print{
	.internal-embed{margin-left:-30px;}
	
}

/* Page breaks */
@media print {
  h1, h2, h4, h5, h6, h3  {
    break-after: avoid-page !important;
	break-inside: avoid-page !important;
  }

  h1:after, h3:after, h2:after, h4:after, h5:after, h6:after{
     content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
	}	
  
  pre, blockquote, table tr, table td, table th, li {
    break-inside: avoid !important;
  }
  hr {
	  break-after:page;
	  visibility: hidden;
  }
}