div[data-path='Screen'],
div[data-path='Screen']+div.nav-folder-children {
    display: none;
}

div[data-path="Master 1/Stage/Ma bibliothèque"],
div[data-path='Master 1/Stage/Ma bibliothèque']+div.nav-folder-children {
    display: none;
}

div[data-path="Master 1/Stage/Data/export"],
div[data-path='Master 1/Stage/Data/export']+div.nav-folder-children {
    display: none;
}

.nav-file-title[data-path="00. Inbox/Changelog.md"] {
    display: none;
}

div[data-path='settings_sync'],
div[data-path='settings_sync']+div.nav-folder-children {
    display: none;
}