:root {
    /* Inbox */
    --inbox: url('https://api.iconify.design/dashicons:database-add.svg?color=%236183B5&height=18') !important;
    --inbox-font: #6183B5 !important;
    --indicator-inbox: url('https://api.iconify.design/codicon:note.svg?color=%236183B5&height=18') !important;
    --organisation: url('https://api.iconify.design/icons8:todo-list.svg?color=%236183B5&height=18') !important;
    --personal: url('https://api.iconify.design/bi:person-bounding-box.svg?color=%236183B5&height=16') !important;
    --archive: url('https://api.iconify.design/radix-icons:archive.svg?color=%236183B5&height=16') !important;
    --food: url('https://api.iconify.design/bx:bx-food-menu.svg?color=%236183B5&height=16') !important;
    --media: url('https://api.iconify.design/clarity:media-changer-outline-alerted.svg?color=%236183B5&height=16') !important;
    /*Template */
    --template: url('https://api.iconify.design/carbon:template.svg?color=%23699B96&height=18') !important;
    --template-font: #699B96 !important;
    --indicator-template: url('https://api.iconify.design/codicon:notebook-template.svg?color=%23699B96&height=18') !important;
    /* Templater */
    --templater: url('https://api.iconify.design/clarity:command-outline-alerted.svg?color=%23699B96&height=18') !important;
    --indicator-templater: url('https://api.iconify.design/tabler:math-function.svg?color=%23699B96&height=18') !important;
    /* Ecriture */
    --ecriture: url('https://api.iconify.design/tabler:writing-sign.svg?color=%2384A3CB&height=18') !important;
    --ecriture-font: #84A3CB !important;
    --indicator-ecri: url('https://api.iconify.design/codicon:note.svg?color=%2384A3CB&height=18') !important;
    /* Personnages */
    --perso: url('https://api.iconify.design/fluent:people-settings-20-filled.svg?color=%239298C9&height=18') !important;
    --perso-font: #9298C9 !important;
    --indic-perso: url('https://api.iconify.design/codicon:note.svg?color=%239298C9&height=18') !important;
    /* Fiches */
    --fiches: url('https://api.iconify.design/ic:sharp-bookmark.svg?color=%236d9ce4&height=18') !important;
    --fiches-font: #6d9ce4 !important;
    --indic-fiches: url('https://api.iconify.design/codicon:note.svg?color=%236d9ce4&height=18') !important;
    /* OC */
    --oc: url('https://api.iconify.design/radix-icons:drawing-pin-filled.svg?color=%236183B5&height=18') !important;
    --oc-font: #6183B5 !important;
    --indicator-oc: url('https://api.iconify.design/codicon:note.svg?color=%236183B5&height=18') !important;
    /* Univers */
    --univers: url('https://api.iconify.design/jam:universe.svg?color=%235B98B5&height=18') !important;
    --univers-font: #5B98B5 !important;
    --indic-univers: url('https://api.iconify.design/codicon:note.svg?color=%235B98B5&height=18') !important;
    /* M1 */
    --m1: url('https://api.iconify.design/cil:school.svg?color=%23518590&height=18') !important;
    --m1-font: #518590 !important;
    --indicator-m1: url('https://api.iconify.design/codicon:note.svg?color=%23518590&height=18') !important;
    --indicator: url('https://api.iconify.design/codicon:note.svg?color=darkgrey&height=18') !important;
    --bookmark: url('https://api.iconify.design/uil:file-bookmark-alt.svg?color=%236183B5&height=18') !important;
}


/* Inbox*/

.nav-folder-title[data-path^="Database"] .nav-folder-title-content::before {
    content: var(--inbox) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-folder-title[data-path^="Database"],
.nav-file-title[data-path*="Database"] {
    color: var(--inbox-font) !important;
}

.nav-file-title[data-path*="Database"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indicator-inbox) !important;
}

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="Database/Organisation"] .nav-folder-title-content::before {
    content: var(--organisation) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-file-title[data-path*="Database/Organisation"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--organisation) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px -2px 0 0 !important;
    padding-right: 10px !important;
}


/* Archive */

.nav-folder-title[data-path^="Database/Archive"] .nav-folder-title-content::before {
    content: var(--archive) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-file-title[data-path*="Database/Archive"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--archive) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px -5px 0 0 !important;
    padding-right: 10px !important;
}


/* Cuisine */

.nav-folder-title[data-path^="Database/Cuisine"] .nav-folder-title-content::before {
    content: var(--food) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-file-title[data-path*="Database/Cuisine"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--food) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px -5px 0 0 !important;
    padding-right: 10px !important;
}


/* Media */

.nav-folder-title[data-path^="Database/Média"] .nav-folder-title-content::before {
    content: var(--media) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-file-title[data-path*="Database/Média"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--media) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px -5px 0 0 !important;
    padding-right: 10px !important;
}


/* Perso */

.nav-folder-title[data-path^="Database/Perso"] .nav-folder-title-content::before {
    content: var(--personal) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}


/* Bookmark */

.nav-folder-title[data-path^="Database/Bookmark"] .nav-folder-title-content::before {
    content: var(--bookmark) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-file-title[data-path*="Database/Bookmark"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--bookmark) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
    padding-right: 5px !important;
}


/* Template */

.nav-folder-title[data-path^="ZZ. Template"] .nav-folder-title-content::before {
    content: var(--template) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-folder-title[data-path^="ZZ. Template"],
.nav-file-title[data-path*="ZZ. Template"] {
    color: var(--template-font) !important;
}

.nav-file-title[data-path*="ZZ. Template"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indicator-template) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}


/* Templater */

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="ZZ. Template/Templater"] .nav-folder-title-content::before {
    content: var(--templater) !important;
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 12px !important;
    width: 16px !important;
    margin: -4px 4px 0 0 !important;
}

.nav-file-title[data-path*="ZZ. Template/Templater"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indicator-templater) !important;
    margin: -8px -3px 0 0 !important;
}


/* Master 1 */

.nav-folder-title[data-path^="Master 1"] .nav-folder-title-content::before {
    content: var(--m1) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-folder-title[data-path^="Master 1"],
.nav-file-title[data-path*="Master 1"] {
    color: var(--m1-font) !important;
}

.nav-file-title[data-path*="Master 1"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indicator-m1) !important;
}


/* Ecriture */

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="Ecriture"] .nav-folder-title-content::before {
    content: var(--ecriture) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-folder-title[data-path^="Ecriture"],
.nav-file-title[data-path*="Ecriture"] {
    color: var(--ecriture-font) !important;
}

.nav-file-title[data-path*="Ecriture"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indicator-ecri) !important;
    display: inline-block !important;
}


/* Personnages */

.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="Ecriture/Personnages"] .nav-folder-title-content::before {
    content: var(--perso) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-folder-title[data-path^="Ecriture/Personnages"],
.nav-file-title[data-path*="Ecriture/Personnages"] {
    color: var(--perso-font) !important;
}

.nav-file-title[data-path*="Ecriture/Personnages"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indic-perso) !important;
    display: inline-block !important;
}


/* Fiches */

.nav-folder-title[data-path^="Ecriture/Personnages/Fiches"] .nav-folder-title-content::before {
    content: var(--fiches) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-folder-title[data-path^="Ecriture/Personnages/Fiches"],
.nav-file-title[data-path*="Ecriture/Personnages/Fiches"] {
    color: var(--fiches-font) !important;
}

.nav-file-title[data-path*="Ecriture/Personnages/Fiches"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indic-fiches) !important;
}


/* OC */

.nav-folder-title[data-path^="Ecriture/Personnages/OC"] .nav-folder-title-content::before {
    content: var(--oc) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-folder-title[data-path^="Ecriture/Personnages/OC"],
.nav-file-title[data-path*="Ecriture/Personnages/OC"] {
    color: var(--oc-font) !important;
}

.nav-file-title[data-path*="Ecriture/Personnages/OC"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indicator-oc) !important;
}


/* Univers */

.nav-folder-title[data-path^="Ecriture/Univers"] .nav-folder-title-content::before {
    content: var(--univers) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(-2px, 0px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
}

.nav-folder-title[data-path^="Ecriture/Univers"],
.nav-file-title[data-path*="Ecriture/Univers"] {
    color: var(--univers-font) !important;
}

.nav-file-title[data-path*="Ecriture/Univers"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indic-univers) !important;
}


/* Files */

.nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indicator) !important;
    background-size: 14px 14px !important;
    /* adopt this to your file tree font height */
    transform: translate(0px, 3px) !important;
    /* to position the icon */
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    margin: -4px 2px 0 0 !important;
    padding-right: 10px !important;
}


/* Hover */

body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
    background-color: transparent !important;
}

.nav-folder-title[data-path^="/"] {
    display: none !important;
}

body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
    color: currentColor !important;
}