div[data-path='Image'],
div[data-path='Image']+div.nav-folder-children {
    display: none;
}

div[data-path="9. Master 1/Stage/Ma bibliothèque"],
div[data-path='9. Master 1/Stage/Ma bibliothèque']+div.nav-folder-children {
    display: none;
}

div[data-path="9. Master 1/Stage/Data/export"],
div[data-path='9. Master 1/Stage/Data/export']+div.nav-folder-children {
    display: none;
}

.nav-file-title[data-path="Changelog.md"] {
    display: none;
}

.nav-file-title[data-path="9. Master 1/Stage/Data/DATA.xlsx"],.nav-file-title[data-path="9. Master 1/Stage/Data/fetch_data.py"]  {
    display: none;
}

div[data-path='settings_sync'],
div[data-path='settings_sync']+div.nav-folder-children {
    display: none;
}

div[data-path^="6. Média/JV"]+div.nav-folder-children, div[data-path^="6. Média/Manga"]+div.nav-folder-children {
    display:none !important;
}

.nav-folder-title[data-path^="6. Média/JV"]>.collapse-icon, .nav-folder-title[data-path^="6. Média/Manga"]>.collapse-icon {
    display: none !important;
}
