    /* @settings

name: "Folder Icon"
id: foldericon
settings:
    - 
        id: files-folder
        title: Translate pour les dossiers
        type: heading
        level: 3 
    - 
        id: folder-x
        title: Variable X
        type: variable-number
        default: -2
        format: px
    - 
        id: folder-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    - 
        id: files-icons
        title: Translate pour les fichiers
        type: heading
        level: 3 
    -
        id: icon-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: icon-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    - 
        id: todo-icon
        title: Translate pour le todo
        type: heading
        level: 3 
    -
        id: todo-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: todo-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    - 
        id: script-icon
        title: Translate pour l'icons des scripts
        type: heading
        level: 3 
    -
        id: script-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: script-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    - 
        id: template-icon
        title: Translate pour l'icons des template
        type: heading
        level: 3 
    -
        id: template-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: template-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    - 
        id: food-icon
        title: Translate pour l'icons des food
        type: heading
        level: 3 
    -
        id: food-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: food-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    -
        id: bookmark-icon
        title: Translate pour l'icons des bookmark
        type: heading
        level: 3 
    -
        id: bookmark-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: bookmark-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    -
        id: média-icon
        title: Translate pour l'icons des média
        type: heading
        level: 3 
    -
        id: média-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: média-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    -                      
        id: preconfigured
        title: Sélection pour des thèmes
        type: heading
        level: 3
    -
        id: folder-transform
        title: Folder icon translate
        description: 1. Manuel; 2. Black & White ; 3. California Coast ; 4. None
        type: variable-select
        default: translate(var(--folder-x), var(--folder-y))
        options:
            - translate(var(--folder-x), var(--folder-y))
            - translate(-2px, 3px)
            - translate(-2px, 0px)
            - None
    - 
        id: content-transform
        title: Files icon translate
        description: 1. Manuel ; 2. Black & White ; 3. Yin & yang ; 4. California Coast ; 5. None
        type: variable-select
        default: translate(var(--icon-x), var(--icon-y))
        options: 
            - translate(var(--icon-x), var(--icon-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - None
    - 
        id: todo-transform
        title: Files todo translate
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--todo-x), var(--todo-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none
    - 
        id: script-transform
        title: Files script translate
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--script-x), var(--script-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none
    - 
        id: template-transform
        title: Files template translate
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--template-x), var(--template-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none            
    - 
        id: bookmark-transform
        title: Files bookmark translate
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--bookmark-x), var(--bookmark-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none  
    - 
        id: food-transform
        title: Files food translate
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--food-x), var(--food-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none  
    - 
        id: média-transform
        title: Files média translate
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--média-x), var(--média-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none  

*/
    
/* ============== ROOT ============= */

:root {

/*  TRANSFORM  */
    --folder-x: -2px;
    --folder-y: 3px;
    --folder-transform: translate(var(--folder-x), var(--folder-y));
    
    --icon-x: -3px;
    --icon-y: 3px;
    --content-transform: translate(var(--icon-x), var(--icon-y));

    --indicator: url('https://api.iconify.design/codicon:note.svg?color=darkgrey&height=18');



/*  ARCHIVE */
    --archive: url('https://api.iconify.design/radix-icons:archive.svg?color=%23001219&height=16');
    --archive-perso : url('https://api.iconify.design/ic:sharp-bookmark.svg?color=%23001219&height=18');
    --archive-univers: url('https://api.iconify.design/jam:universe.svg?color=%23001219&&height=18');
    --archive-font: #001219;
    --indicator-archive: url('https://api.iconify.design/codicon:note.svg?color=%23001219&height=18');

/* BOOKMARK */
    --bookmark: url('https://api.iconify.design/uil:file-bookmark-alt.svg?color=%233E9C9D&height=18');
    --bookmark-font: #3E9C9D ;
    --bookmark-x: -3px;
    --bookmark-y: 3px;
    --bookmark-transform: var(--content-transform);

/* CUISINE */
    --food: url('https://api.iconify.design/bx:bx-food-menu.svg?color=%2358A4C4&height=18');
    --food-font: #58A4C4;
    --food-x: -3px;
    --food-y: 3px;
    --food-transform: var(--content-transform);

/* M1 */
    --m1: url('https://api.iconify.design/cil:school.svg?color=%23906C58&height=18');
    --m1-font: #906C58;
    --indicator-m1: url('https://api.iconify.design/codicon:note.svg?color=%23906C58&height=18');

/* Media */
    --media: url('https://api.iconify.design/clarity:media-changer-outline-alerted.svg?color=%2350A686&height=18');
    --media-font: #50A686;
    --média-x: -3px;
    --média-y: 3px;
    --média-transform: var(--content-transform);

/* Organisation */
    --organisation: url('https://api.iconify.design/icons8:todo-list.svg?color=%23476CBE&height=18');
    --organisation-font: #476CBE;
    --todo-x: -3px;
    --todo-y: 3px;
    --todo-transform: var(--content-transform) !important;
 
/* Personnages */
    --perso: url('https://api.iconify.design/fluent:people-settings-20-filled.svg?color=%234765AB&height=18');
    --perso-font: #4765AB;
    --indic-perso: url('https://api.iconify.design/codicon:note.svg?color=%234765AB&height=18');
    /* Fiches */
        --fiches: url('https://api.iconify.design/ic:sharp-bookmark.svg?color=%234765AB&height=18');
        --fiches-font: #4765AB;
        --indic-fiches: url('https://api.iconify.design/codicon:note.svg?color=%234765AB&height=18');
    /* OC */
        --oc: url('https://api.iconify.design/radix-icons:drawing-pin-filled.svg?color=%234765AB&height=18');
        --oc-font: #4765AB;
        --indicator-oc: url('https://api.iconify.design/codicon:note.svg?color=%234765AB&height=18');

/* Personnel */
    --personal: url('https://api.iconify.design/bi:person-bounding-box.svg?color=%233633B8&height=16');
    --personal-font: #3633B8;

/* Univers */
    --univers: url('https://api.iconify.design/jam:universe.svg?color=%238FA1CC&height=18');
    --univers-font: #8FA1CC;
    --indic-univers: url('https://api.iconify.design/codicon:note.svg?color=%238FA1CC&height=18');

/*Template */
    --template: url('https://api.iconify.design/carbon:template.svg?color=%23B69D91&height=18');
    --template-font: #B69D91;
    --indicator-template: url('https://api.iconify.design/codicon:notebook-template.svg?color=%23B69D91&height=18');
    --template-x: -3px;
    --template-y: 3px;
    --template-transform: var(--content-transform);   

/* Templater */
    --templater: url('https://api.iconify.design/clarity:command-outline-alerted.svg?color=%23B69D91&height=18');
    --indicator-templater: url('https://api.iconify.design/tabler:math-function.svg?color=%23B69D91&height=18');
    
    --script-x: -3px;
    --script-y: 3px;
    --script-transform: var(--content-transform);

}
    
    
/* ============== ARCHIVE ============= */
.nav-folder-title[data-path^="1. Archive"] .nav-folder-title-content::before {
    content: var(--archive);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-folder-title[data-path^="1. Archive/Fiches"] .nav-folder-title-content::before {
    content: var(--archive-perso) !important;
}

.nav-folder-title[data-path^="1. Archive/Univers"] .nav-folder-title-content::before {
    content: var(--archive-univers) !important;
}

.nav-folder-title[data-path^="1. Archive"],
.nav-file-title[data-path*="1. Archive"] {
    color: var(--archive-font) !important;
}


/* =========== BOOKMARK =============== */

.nav-folder-title[data-path^="5. Bookmark"] .nav-folder-title-content::before {
    content: var(--bookmark);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-file-title[data-path*="5. Bookmark"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--bookmark) !important;
    background-size: 14px 14px;
    transform: var(--bookmark-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
    padding-right: 5px;
}

.nav-folder-title[data-path^="5. Bookmark"],
.nav-file-title[data-path*="5. Bookmark"] {
    color: var(--bookmark-font) !important;
}

/* ======== CUISINE ============ */

.nav-folder-title[data-path^="4. Cuisine"] .nav-folder-title-content::before {
    content: var(--food);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-file-title[data-path*="4. Cuisine"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--food) !important;
    background-size: 14px 14px;
    transform: var(--food-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px -5px 0 0;
    padding-right: 10px;
}

.nav-folder-title[data-path^="4. Cuisine"],
.nav-file-title[data-path*="4. Cuisine"] {
    color: var(--food-font) !important;
}

/* ========== Master 1 ============ */

.nav-folder-title[data-path^="9. Master 1"] .nav-folder-title-content::before {
    content: var(--m1);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-folder-title[data-path^="9. Master 1"],
.nav-file-title[data-path*="9. Master 1"] {
    color: var(--m1-font) !important;
}

/* =========== Média ========== */

.nav-folder-title[data-path^="6. Média"] .nav-folder-title-content::before {
    content: var(--media) !important;
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-file-title[data-path*="6. Média"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--media) !important;
    background-size: 14px 14px;
    transform: var(--media-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px -5px 0 0;
    padding-right: 10px;
}


.nav-folder-title[data-path^="6. Média"],
.nav-file-title[data-path*="6. Média"] {
    color: var(--media-font) !important;
}

/* ================= Organisation =========== */

.nav-folder-title[data-path^="3. Organisation"] .nav-folder-title-content::before {
    content: var(--organisation);
    transform: var(--folder-transform);
    display: inline-block;
    margin: -4px 2px -2px -2px;
}

.nav-file-title[data-path*="3. Organisation"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--organisation) !important;
    background-size: 14px 14px;
    transform: var(--todo-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px -2px 0 0;
    padding-right: 10px;
}

.nav-folder-title[data-path^="3. Organisation"],
.nav-file-title[data-path*="3. Organisation"] {
    color: var(--organisation-font) !important;
}

/* ======== Personnages ===== */

.nav-folder-title[data-path^="7. Personnages"] .nav-folder-title-content::before {
    content: var(--perso);
    background-size: 14px 14px;
    /* adopt this to your file tree font height */
    transform: var(--folder-transform);
    /* to position the icon */
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-folder-title[data-path^="7. Personnages"],
.nav-file-title[data-path*="7. Personnages"] {
    color: var(--perso-font) !important;
}



.nav-folder-title[data-path^="7. Personnages/Fiches"] .nav-folder-title-content::before {
    content: var(--fiches);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-folder-title[data-path^="7. Personnages/Fiches"],
.nav-file-title[data-path*="7. Personnages/Fiches"] {
    color: var(--fiches-font) !important;
}




/* OC */

.nav-folder-title[data-path^="7. Personnages/OC"] .nav-folder-title-content::before {
    content: var(--oc);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-folder-title[data-path^="7. Personnages/OC"],
.nav-file-title[data-path*="7. Personnages/OC"] {
    color: var(--oc-font) !important;
}
/* ========== Personnel ========== */

.nav-folder-title[data-path^="2. Personnel"] .nav-folder-title-content::before {
    content: var(--personal);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-folder-title[data-path^="2. Personnel"],
.nav-file-title[data-path*="2. Personnel"] {
    color: var(--personal-font) !important;
}

/* =========== UNIVERS ========= */

div.nav-folder-title[data-path^="8. Univers"] div.nav-folder-title-content::before {
    content: var(--univers);
    background-size: 14px 14px;
    /* adopt this to your file tree font height */
    transform: var(--folder-transform);
    /* to position the icon */
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
    z-index: 100;
}

.nav-folder-title[data-path^="8. Univers"],
.nav-file-title[data-path*="8. Univers"] {
    color: var(--univers-font) !important;
}



/* ========= TEMPLATE ========== */

.nav-folder-title[data-path^="10. Template"] .nav-folder-title-content::before {
    content: var(--template);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-folder-title[data-path^="10. Template"],
.nav-file-title[data-path*="10. Template"] {
    color: var(--template-font) !important;
}

.nav-file-title[data-path*="10. Template"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indicator-template);
    background-size: 14px 14px;
    transform: var(--template-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}


    /* Templater */

        .nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="10. Template/Templater"] .nav-folder-title-content::before {
            content: var(--templater);
            transform: var(--folder-transform);
            background-repeat: no-repeat;
            display: inline-block;
            height: 12px;
            width: 16px;
            margin: -4px 4px 0 0;
        }

        .nav-file-title.is-unsupported[data-path*="10. Template/Templater/Script"]>.nav-file-title-content::before {
            content: var(--indicator-templater) !important;
            transform: var(--script-transform) !important;
            background-repeat: no-repeat;
            display: inline-block;
            height: 12px;
            width: 16px;
            margin: -4px 4px 0 0;
        }

        .nav-file-title[data-path*="10. Template/Templater"] .nav-file-title-content:only-child:before,
        .search-result-collapse-indicator+span:before,
        .nav-file-icon:before {
            content: var(--indicator-templater);
            transform: var(--script-transform) !important;
            margin: -8px -3px 0 0 !important;
        }

        .nav-folder-title[data-path^="10. Template/Templater"] .nav-folder-title-content::before {
            content: var(--indicator-templater);
        }

/* Files */

.nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    background-size: 14px 14px;
    transform: var(--content-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
    padding-right: 10px;
}


/* Hover */

body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
    background-color: transparent !important;
}

.nav-folder-title[data-path^="/"] {
    display: none;
}
/*
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
    mix-blend-mode: difference !important;
}*/

.fx-icons .nav-folder:not(.nav-folder.mod-root) {
    margin-left: 0;
}

.collapse-icon {
    color: currentColor !important;
}

.nav-file-title-content:hover, .nav-folder-title-content:hover, .collapse-icon:hover {
   color: currentColor !important;
    filter: saturate(150%);
}

/*test*/