    /* @settings

name: "Folder Icon"
id: foldericon
settings:
    - 
        id: files-folder
        title: DOSSIERS
        type: heading
        level: 2 
    - 
        id: folder-x
        title: Variable X
        type: variable-number
        default: -2
        format: px
    - 
        id: folder-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    -
        id: folder-transform
        title: Folder icon translate
        description: 1. Manuel; 2. Black & White ; 3. California Coast ; 4. None
        type: variable-select
        default: translate(var(--folder-x), var(--folder-y))
        options:
            - translate(var(--folder-x), var(--folder-y))
            - translate(-2px, 3px)
            - translate(-2px, 0px)
            - None        
    - 
        id: files-icons
        title: FICHIERS
        type: heading
        level: 2 
    -
        id: icon-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: icon-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    -
        id: content-transform
        title: PRECONFIGURATION
        description: 1. Manuel ; 2. Black & White ; 3. Yin & yang ; 4. California Coast ; 5. None
        type: variable-select
        default: translate(var(--icon-x), var(--icon-y))
        options: 
            - translate(var(--icon-x), var(--icon-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - None        
    - 
        id: todo-icon
        title: TODO
        type: heading
        level: 2 
    -
        id: todo-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: todo-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    - 
        id: todo-transform
        title: PRECONFIGURATION
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--todo-x), var(--todo-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none
    -  
        id: script-icon
        title: SCRIPTS
        type: heading
        level: 2 
    -
        id: script-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: script-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    -                     
        id: script-transform
        title: PRECONFIGURATION
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--script-x), var(--script-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none
    - 
        id: template-icon
        title: TEMPLATE
        type: heading
        level: 2 
    -    
        id: template-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: template-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
        
    -
        id: template-transform
        title: PRECONFIGURATION
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--template-x), var(--template-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none            
    -     
        id: food-icon
        title: CUISINE
        type: heading
        level: 2 
    -
        id: food-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: food-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px        
    -
        id: food-transform
        title: PRECONFIGURATION
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--food-x), var(--food-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none  
    -     
        id: bookmark-icon
        title: BOOKMARK
        type: heading
        level: 2 
    -
        id: bookmark-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: bookmark-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    -
        id: bookmark-transform
        title: PRECONFIGURATION
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--bookmark-x), var(--bookmark-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none  
    -    
        id: média-icon
        title: Translate pour l'icons des média
        type: heading
        level: 2 
    -
        id: média-x
        title: Variable X
        type: variable-number
        default: -5
        format: px
    -
        id: média-y
        title: Variable Y
        type: variable-number
        default: 3
        format: px
    -
        id: média-transform
        title: PRECONFIGURATION
        description: 0. Default ; 1. Manuel ; 2. Black & White ; 3. Yin & Yang ; 4. California Coast ; 5. None
        type: variable-select
        default: var(--content-transform)
        options: 
            - var(--content-transform)
            - translate(var(--média-x), var(--média-y))
            - translate(-3px, 3px)
            - translate(0px, 3px)
            - translate(3px, 5px)
            - none  

*/
    
/* ============== ROOT ============= */

:root {
/*  TRANSFORM  */
    --folder-x: -2px;
    --folder-y: 3px;
    --folder-transform: translate(var(--folder-x), var(--folder-y));
    --icon-x: -3px;
    --icon-y: 3px;
    --content-transform: translate(var(--icon-x), var(--icon-y));
    --indicator: url('https://api.iconify.design/codicon:note.svg?color=darkgrey&height=18');

/*  ARCHIVE */
    --archive: url('https://api.iconify.design/radix-icons:archive.svg?color=%23001219&height=16');
    --archive-perso : url('https://api.iconify.design/ic:sharp-bookmark.svg?color=%23001219&height=18');
    --archive-univers: url('https://api.iconify.design/jam:universe.svg?color=%23001219&&height=18');
    --archive-font: #001219;
    --indicator-archive: url('https://api.iconify.design/codicon:note.svg?color=%23001219&height=18');

/* BOOKMARK */
    --bookmark: url('https://api.iconify.design/uil:file-bookmark-alt.svg?color=%233E9C9D&height=18');
    --bookmark-font: #3E9C9D ;
    --bookmark-x: -3px;
    --bookmark-y: 3px;
    --bookmark-transform: var(--content-transform);

/* CUISINE */
    --food: url('https://api.iconify.design/bx:bx-food-menu.svg?color=%2358A4C4&height=18');
    --food-font: #58A4C4;
    --food-x: -3px;
    --food-y: 3px;
    --food-transform: var(--content-transform);

/* M1 */
    --m1: url('https://api.iconify.design/cil:school.svg?color=%23906C58&height=18');
    --m1-font: #906C58;
    --indicator-m1: url('https://api.iconify.design/codicon:note.svg?color=%23906C58&height=18');

/* Media */
    --media: url('https://api.iconify.design/clarity:media-changer-outline-alerted.svg?color=%2350A686&height=18');
    --media-font: #50A686;
    --média-x: -3px;
    --média-y: 3px;
    --média-transform: var(--content-transform);

/* Organisation */
    --organisation: url('https://api.iconify.design/icons8:todo-list.svg?color=%23476CBE&height=18');
    --organisation-font: #476CBE;
    --todo-x: -3px;
    --todo-y: 3px;
    --todo-transform: var(--content-transform) !important;
 
/* Personnages */
    --perso: url('https://api.iconify.design/fluent:people-settings-20-filled.svg?color=%234765AB&height=18');
    --perso-font: #4765AB;
    --indic-perso: url('https://api.iconify.design/codicon:note.svg?color=%234765AB&height=18');
    /* Fiches */
        --fiches: url('https://api.iconify.design/ic:sharp-bookmark.svg?color=%234765AB&height=18');
        --fiches-font: #4765AB;
        --indic-fiches: url('https://api.iconify.design/codicon:note.svg?color=%234765AB&height=18');
    /* OC */
        --oc: url('https://api.iconify.design/radix-icons:drawing-pin-filled.svg?color=%234765AB&height=18');
        --oc-font: #4765AB;
        --indicator-oc: url('https://api.iconify.design/codicon:note.svg?color=%234765AB&height=18');

/* Personnel */
    --personal: url('https://api.iconify.design/bi:person-bounding-box.svg?color=%233633B8&height=16');
    --personal-font: #3633B8;

/* Univers */
    --univers: url('https://api.iconify.design/jam:universe.svg?color=%238FA1CC&height=18');
    --univers-font: #8FA1CC;
    --indic-univers: url('https://api.iconify.design/codicon:note.svg?color=%238FA1CC&height=18');
    --bi: url('https://api.iconify.design/mdi:bookshelf.svg?color=%238FA1CC&height=18');

/*Template */
    --template: url('https://api.iconify.design/carbon:template.svg?color=%23B69D91&height=18');
    --template-font: #B69D91;
    --indicator-template: url('https://api.iconify.design/codicon:notebook-template.svg?color=%23B69D91&height=18');
    --template-x: -3px;
    --template-y: 3px;
    --template-transform: var(--content-transform);   

/* Templater */
    --templater: url('https://api.iconify.design/clarity:command-outline-alerted.svg?color=%23B69D91&height=18');
    --indicator-templater: url('https://api.iconify.design/tabler:math-function.svg?color=%23B69D91&height=18');
    --script-x: -3px;
    --script-y: 3px;
    --script-transform: var(--content-transform);

}

.oz-folder-element {
    font-size: larger !important;
}

.nav-file.oz-nav-file > .nav-file-title.oz-nav-file-title > .nav-file-title-content:before {
    transform: translate(0px, 2px) !important;
}
    
/* ============== ARCHIVE ============= */
.nav-folder-title[data-path^="1. Archive"] .nav-folder-title-content::before {
    content: var(--archive);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.oz-folder-element[data-path^="1. Archive"] > div > div > div + div:before{
    content: var(--archive) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}

.nav-folder-title[data-path^="1. Archive/Fiches"] .nav-folder-title-content::before, .oz-folder-element[data-path^="1. Archive/Fiches"] > div > div > div + div:before {
    content: var(--archive-perso) !important;
}

.nav-folder-title[data-path^="1. Archive/Univers"] .nav-folder-title-content::before, .oz-folder-element[data-path^="1. Archive/Univers"] > div > div > div + div:before {
    content: var(--archive-univers) !important;
}

.nav-folder-title[data-path^="1. Archive"],
.nav-file-title[data-path*="1. Archive"], 
.oz-folder-element[data-path*="1. Archive"] > div > div > div + div{
    color: var(--archive-font) !important;
}


/* =========== BOOKMARK =============== */

.nav-folder-title[data-path^="5. Bookmark"] .nav-folder-title-content::before {
    content: var(--bookmark);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.oz-folder-element[data-path^="5. Bookmark"] > div > div > div + div:before{
    content: var(--bookmark) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}


.nav-file-title[data-path*="5. Bookmark"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--bookmark) !important;
    background-size: 14px 14px;
    transform: var(--bookmark-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
    padding-right: 5px;
}

.nav-folder-title[data-path^="5. Bookmark"],
.nav-file-title[data-path*="5. Bookmark"], 
.oz-folder-element[data-path^="5. Bookmark"] > div > div > div + div {
    color: var(--bookmark-font) !important;
}

/* ======== CUISINE ============ */

.nav-folder-title[data-path^="4. Cuisine"] .nav-folder-title-content::before {
    content: var(--food);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.nav-file-title[data-path*="4. Cuisine"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--food) !important;
    background-size: 14px 14px;
    transform: var(--food-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px -5px 0 0;
    padding-right: 10px;
}

.oz-folder-element[data-path^="4. Cuisine"] > div > div > div + div:before{
    content: var(--food) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}

.nav-folder-title[data-path^="4. Cuisine"],
.nav-file-title[data-path*="4. Cuisine"],
.oz-folder-element[data-path^="4. Cuisine"] > div > div > div + div {
    color: var(--food-font) !important;
}

/* ========== Master 1 ============ */

.nav-folder-title[data-path^="9. Master 1"] .nav-folder-title-content::before {
    content: var(--m1);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.oz-folder-element[data-path^="9. Master 1"] > div > div > div + div:before{
    content: var(--m1) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}

.nav-folder-title[data-path^="9. Master 1"],
.nav-file-title[data-path*="9. Master 1"], .oz-folder-element[data-path^="9. Master 1"] > div > div > div + div {
    color: var(--m1-font) !important;
}

/* =========== Média ========== */

.nav-folder-title[data-path^="6. Média"] .nav-folder-title-content::before {
    content: var(--media) !important;
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.oz-folder-element[data-path^="6. Média"] > div > div > div + div:before{
    content: var(--media) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}

.nav-folder-title[data-path^="6. Média/"]>.nav-folder-title-content:before {
    padding-left: 1%;
}

.nav-file-title[data-path*="6. Média"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--media) !important;
    background-size: 14px 14px;
    transform: var(--media-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px -5px 0 0;
    padding-right: 10px;
}


.nav-folder-title[data-path^="6. Média"],
.nav-file-title[data-path*="6. Média"], 
.oz-folder-element[data-path^="6. Média"] > div > div > div + div {
    color: var(--media-font) !important;
}

/* ================= Organisation =========== */

.nav-folder-title[data-path^="3. Organisation"] .nav-folder-title-content::before {
    content: var(--organisation);
    transform: var(--folder-transform);
    display: inline-block;
    margin: -4px 2px -2px -2px;
}

.oz-folder-element[data-path^="3. Organisation"] > div > div > div + div:before{
    content: var(--organisation) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}

.nav-file-title[data-path*="3. Organisation"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--organisation) !important;
    background-size: 14px 14px;
    transform: var(--todo-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px -2px 0 0;
    padding-right: 10px;
}

.nav-folder-title[data-path^="3. Organisation"],
.nav-file-title[data-path*="3. Organisation"],
.oz-folder-element[data-path^="3. Organisation"] > div > div > div + div {
    color: var(--organisation-font) !important;
}

/* ======== Personnages ===== */

.nav-folder-title[data-path^="7. Personnages"] .nav-folder-title-content::before {
    content: var(--perso);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.oz-folder-element[data-path^="7. Personnages"] > div > div > div + div:before{
    content: var(--perso) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}

.nav-folder-title[data-path^="7. Personnages"],
.nav-file-title[data-path*="7. Personnages"],
.oz-folder-element[data-path^="7. Personnages"] > div > div > div + div {
    color: var(--perso-font) !important;
}

/* Fiches */
.nav-folder-title[data-path^="7. Personnages/Fiches"] .nav-folder-title-content::before {
    content: var(--fiches);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.oz-folder-element[data-path^="7. Personnages/Fiches"] > div > div > div + div:before{
    content: var(--fiches) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}

.nav-folder-title[data-path^="7. Personnages/Fiches"],
.nav-file-title[data-path*="7. Personnages/Fiches"],
.oz-folder-element[data-path^="7. Personnages/Fiches"] > div > div > div + div {
    color: var(--fiches-font) !important;
}


/* OC */

.nav-folder-title[data-path^="7. Personnages/OC"] .nav-folder-title-content::before {
    content: var(--oc);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.oz-folder-element[data-path^="7. Personnages/OC"] > div > div > div + div:before{
    content: var(--oc) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}


.nav-folder-title[data-path^="7. Personnages/OC"],
.nav-file-title[data-path*="7. Personnages/OC"],
.oz-folder-element[data-path^="7. Personnages/OC"] > div > div > div + div {
    color: var(--oc-font) !important;
}

/* ========== Personnel ========== */

.nav-folder-title[data-path^="2. Personnel"] .nav-folder-title-content::before {
    content: var(--personal);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}

.oz-folder-element[data-path^="2. Personnel"] > div > div > div + div:before{
    content: var(--personal) !important;
    background-size: 14px 14px;
    transform: translate(-4px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}


.nav-folder-title[data-path^="2. Personnel"],
.nav-file-title[data-path*="2. Personnel"],
.oz-folder-element[data-path^="2. Personnel"] > div > div > div + div {
    color: var(--personal-font) !important;
}

/* =========== UNIVERS ========= */

div.nav-folder-title[data-path^="8. Univers"] div.nav-folder-title-content::before {
    content: var(--univers);
    background-size: 14px 14px;
    /* adopt this to your file tree font height */
    transform: var(--folder-transform);
    /* to position the icon */
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
    z-index: 100;
}

.oz-folder-element[data-path^="8. Univers"] > div > div > div + div:before{
    content: var(--univers) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}

.nav-folder-title[data-path^="8. Univers"],
.nav-file-title[data-path*="8. Univers"],
.oz-folder-element[data-path^="8. Univers"] > div > div > div + div {
    color: var(--univers-font) !important;
}

div.nav-folder-title[data-path^="8. Univers/La Bibliothèque Infinie"] div.nav-folder-title-content::before {
    content: var(--bi);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
    z-index: 100;
}

.oz-folder-element[data-path^="8. Univers/La Bibliothèque Infinie"] > div > div > div + div:before{
    content: var(--bi) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}


/* ========= TEMPLATE ========== */

.nav-folder-title[data-path^="10. Template"] .nav-folder-title-content::before {
    content: var(--template);
    background-size: 14px 14px;
    transform: var(--folder-transform);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}


.oz-folder-element[data-path^="10. Template"] > div > div > div + div:before{
    content: var(--template) !important;
    background-size: 14px 14px;
    transform: translate(-5px, 3px);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;    
}

.nav-folder-title[data-path^="10. Template"],
.nav-file-title[data-path*="10. Template"],
.oz-folder-element[data-path^="10. Template"] > div > div > div + div {
    color: var(--template-font) !important;
}

.nav-file-title[data-path*="10. Template"] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--indicator-template);
    background-size: 14px 14px;
    transform: var(--template-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
}


    /* Templater */

        .nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-children>.nav-folder>.nav-folder-title[data-path^="10. Template/Templater"] .nav-folder-title-content::before {
            content: var(--templater);
            transform: var(--folder-transform);
            background-repeat: no-repeat;
            display: inline-block;
            height: 12px;
            width: 16px;
            margin: -4px 4px 0 0;
        }

        .oz-folder-element[data-path^="10. Template/Templater"] > div > div > div + div:before{
            content: var(--templater) !important;
            background-size: 14px 14px;
            transform: translate(-5px, 3px);
            background-repeat: no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;    
        }        

        .nav-file-title.is-unsupported[data-path*="10. Template/Templater/Script"]>.nav-file-title-content::before {
            content: var(--indicator-templater) !important;
            transform: var(--script-transform) !important;
            background-repeat: no-repeat;
            display: inline-block;
            height: 12px;
            width: 16px;
            margin: -4px 4px 0 0;
        }

        .oz-folder-element[data-path^="10. Template/Templater/"] > div > div > div + div:before{
            content: var(--indicator-templater) !important;
            background-size: 14px 14px;
            transform: translate(-5px, 3px);
            background-repeat: no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;    
        }            

        .nav-file-title[data-path*="10. Template/Templater"] .nav-file-title-content:only-child:before,
        .search-result-collapse-indicator+span:before,
        .nav-file-icon:before {
            content: var(--indicator-templater);
            transform: var(--script-transform) !important;
            margin: -8px -3px 0 0 !important;
        }

        .nav-folder-title[data-path^="10. Template/Templater"] .nav-folder-title-content::before {
            content: var(--indicator-templater);
        }

/* Files */

.nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    background-size: 14px 14px;
    transform: var(--content-transform) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -4px 2px 0 0;
    padding-right: 10px;
}


/* Hover */

.nav-file-title.is-being-dragged, .nav-folder-title.is-being-dragged {
    background-color: rgba(255, 255, 255, 0.575)
}

body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
    background-color: transparent !important;
}

.nav-folder-title[data-path^="/"] {
    display: none;
}
/*
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
    mix-blend-mode: difference !important;
}*/

.fx-icons .nav-folder:not(.nav-folder.mod-root) {
    margin-left: 0;
}

.collapse-icon {
    color: currentColor !important;
}

.nav-file-title-content:hover, .nav-folder-title-content:hover, .collapse-icon:hover, .nav-file-title.is-active:hover {
    background-color: transparent !important;
    filter: saturate(150%);
    color: currentColor !important;
}

.is-collapsed .collapse-icon svg, .collapse-icon > svg {
    display: inline-block !important;
    color: currentColor !important;
}

.nav-file-title.is-active {
    background-color: transparent !important;
    filter: saturate(150%);
}

.workspace-leaf-content[data-type="file-explorer"]:hover .nav-file-title.is-active  {
    background-color: transparent !important;
    color: currentColor !important;
}

.nav-file-title > .nav-file-tag + .nav-file-title-content:before {
    transform: translate(5px, 0px) !important;
}

.fx-icons .status-bar-item:after{
    display:inline-block
}

.status-bar-item:after {
    display: none;
}

.nav-folder-title .collapse-icon, .nav-folder-title .collapse-icon {
    margin-left: -14px !important;
}

.nav-folder-children .nav-file-title-content:first-child::before {
    margin-right: 0px !important;
}