.nav-file-title,
.nav-folder-title {
	width: 100%;
	cursor: default;
	display: flex;
	align-items: baseline;
	flex-direction: row;
	--text-normal: var(--text-muted);
}

.nav-file-title-content, .nav-folder-title-content {
  text-overflow: ellipsis;
  overflow: hidden;
  text-indent:0;
}