@media screen and (min-width: 1080px) {
    .markdown-preview-view {
        max-width: 90ch;
        margin: auto;
    }
    .markdown-source-view {
        max-width: 100ch;
        margin: auto auto;
    }
    .markdown-preview-view h1,
    .markdown-preview-view h2,
    .markdown-preview-view h3,
    .markdown-preview-view h4,
    .markdown-preview-view h5,
    .markdown-preview-view h6 {
        margin-bottom: -1%;
        margin-left: -2%;
        margin-top: 1%;
    }
    .markdown-embed-content {
        display: inline-block;
    }
    .markdown-preview-sizer.markdown-preview-section {
        margin-left: 0 !important;
    }
}

div[data-tag-name='h1']+div[data-tag-name='ul'],
div[data-tag-name='h2']+div[data-tag-name='ul'],
div[data-tag-name='h3']+div[data-tag-name='ul'],
div[data-tag-name='h4']+div[data-tag-name='ul'],
div[data-tag-name='h5']+div[data-tag-name='ul'],
div[data-tag-name='h6']+div[data-tag-name='ul'] {
    margin: 1em;
}

div[data-tag-name='h1']+div .block-language-dataview,
div[data-tag-name='h2']+div .block-language-dataview,
div[data-tag-name='h3']+div .block-language-dataview,
div[data-tag-name='h4']+div .block-language-dataview,
div[data-tag-name='h5']+div .block-language-dataview,
div[data-tag-name='h6']+div .block-language-dataview,
div[data-tag-name='h7']+div .block-language-dataview {
    margin: 0.5em;
}

h1+table.dataview.table-view-table,
h2+table.dataview.table-view-table,
h3+table.dataview.table-view-table,
h4+table.dataview.table-view-table,
h5+table.dataview.table-view-table,
h5+table.dataview.table-view-table,
h6+table.dataview.table-view-table {
    margin: 0.5em;
}

pre.CodeMirror-line:not(.HyperMD-list-line, pre.HyperMD-header.HyperMD-header-1.CodeMirror-line) {
    padding-left: 3% !important;
}

pre.HyperMD-list-line.HyperMD-list-line-1.CodeMirror-line {
    padding-left: 5% !important;
}

.tag,
.cm-s-obsidian span.cm-hashtag-end {
    background-color: var(--tag-background-color);
    border: 1px solid var(--tag-border-color);
    color: var(--tag-border-color);
    font-size: 1em;
    padding-bottom: 1px;
    padding-top: 1px;
    text-decoration: none;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.markdown-preview-view a.tag {
    color: var(--tag-border-color);
}

header.svelte-yzsyxo {
    background-color: transparent !important;
    border: 0;
}

.count.svelte-yzsyxo {
    color: #4a8ec2 !important;
}

ul.svelte-yzsyxo>li.compact.svelte-1q8cjhd>div.content.svelte-1q8cjhd>p>a {
    color: #4a8ec2 !important;
}

ul.svelte-yzsyxo>li.compact.svelte-1q8cjhd>div.content.svelte-1q8cjhd>p>a:hover {
    color: var(--tag-border-color) !important;
}

.markdown-preview-view .internal-link,
.markdown-preview-view .external-link,
.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link {
    background-color: var(--link-background-color);
    color: var(--tag-border-color);
}

.markdown-preview-view .internal-link.is-unresolved {
    background-color: var(--link-background-color);
    color: var(--text-faint);
}


/* Remove external link icon */

.markdown-preview-view .external-link {
    background-image: none;
    padding-right: 0;
}

i#flexbox {
    display: flex;
    font-style: normal;
}

i#flexbox>i {
    flex: 1;
    font-style: normal;
    padding: 0px 7px;
}

span.cm-hr {
    filter: none !important;
}

div[data-tag-name='p']+div[data-tag-name='ul'] {
    margin-top: -20px;
}

div[data-tag-name='ul']+div[data-tag-name='p'] {
    margin-top: -20px;
}

div[data-tag-name='p']+div[data-tag-name="h1"],
div[data-tag-name='p']+div[data-tag-name="h2"],
div[data-tag-name='p']+div[data-tag-name="h3"],
div[data-tag-name='p']+div[data-tag-name="h4"],
div[data-tag-name='p']+div[data-tag-name="h5"],
div[data-tag-name='p']+div[data-tag-name="h6"] {
    margin-top: -20px !important;
}


/* Outliner support */

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list {
    letter-spacing: 0 !important;
}

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list-ul:before {
    letter-spacing: 0 !important;
    margin-top: 0;
}

.outliner-plugin-bls .cm-hmd-list-indent .cm-tab::before {
    border-left: 0 !important
}

.cm-s-obsidian span.cm-formatting-list {
    color: var(--bullet);
    font-size: 0.85em;
    font-weight: 500;
    font-family: var(--text-faint);
}

ul {
    margin-block-start: 0 !important;
    bottom: 25%;
    position: relative;
    top: 0 !important;
    color: var(--bullet);
}

span.cm-header+span.cm-url {
    font-size: 120%;
    font-weight: 600;
}

.table-view-table>tbody>tr>td>span>a,
li.dataview-result-list-li>span[data-tag-name="p"]>a {
    background-color: transparent !important;
}

.table-view-table>tbody>tr>td>span>a:hover,
li.dataview-result-list-li>span[data-tag-name="p"]>a:hover {
    color: var(--blue) !important;
}