.nav-action-button {
	padding: 5px 8px 0 8px !important;

}

.nav-action-button.is-active {
	background-color: rgb(124, 178, 228) !important;
}
.tag-pane-tag-count {
	color: var(--background-secondary-alt);
}