a.internal-link[data-link-Plateforme$="Switch" i]::before{
    content: url('https://api.iconify.design/mdi:nintendo-switch.svg?color=%239d1f1f&height=15');
    vertical-align: -0.125em;
    transform:translate(20px, 10px) !important;
    margin-right: 5px;
}

a.internal-link[data-link-Plateforme$="PC" i]::before{
    content: url('https://api.iconify.design/flat-ui:pc.svg?width=18&height=18');
    vertical-align: -0.14em !important;    
    margin-right: 5px;
}

a.internal-link[data-link-status$="Stream" i]::before{
content: url('https://api.iconify.design/logos:twitch.svg?width=15&height=15');
vertical-align: -0.125em;
margin-right: 5px;
}

a.internal-link[data-link-status$="Coop" i]::before{
content: url('https://api.iconify.design/simple-icons:coop.svg?color=%235f9dd8&width=15&height=15');
vertical-align: -0.125em;
margin-right: 5px;
}