.table-view-table>thead>tr>th,
.table-view-table>tbody>tr>td {
    text-align: center !important;
}

.markdown-preview-view th,
.markdown-preview-view td {
    vertical-align: middle;
    border: 1px solid var(--background-modifier-border) !important;
}

li.dataview-result-list-li {
    padding-left: 3px;
    margin-left: 5em !important;
    width: max-content;
}

table {
  border-collapse: separate;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
  border-style: hidden; /* hide standard table (collapsed) border */
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--background-modifier-border); /* this draws the table border  */ 
}
