.table-view-table>thead>tr>th,
.table-view-table>tbody>tr>td {
    text-align: center !important;
}

.markdown-preview-view th,
.markdown-preview-view td {
    vertical-align: middle;
    border: 1px solid var(--background-modifier-border) !important;
}

li.dataview-result-list-li {
    padding-left: 3px;
    margin-left: 5em !important;
    width: max-content;
}

/*
.kanban-plugin__meta-table td+td {
    padding-left: 5em;
    width: 90% !important;
}

.kanban-plugin__meta-value .kanban-plugin__markdown-preview-view p, .kanban-plugin__meta-value .kanban-plugin__markdown-preview-view {
    width: 100%;
}
*/