/* ====== Tag Pills ======== */

:root {
    --tag: rgb(29, 88, 143);
    --tag-background-color: #80cbee67;
    --tag-border-color: #0493ec;
}

.tag,
.cm-s-obsidian span.cm-hashtag-end {
    background-color: var(--tag-background-color);
    border: 1px solid var(--tag-border-color);
    color: var(--tag-border-color);
    font-size: 1em;
    padding-bottom: 1px;
    padding-top: 1px;
    text-decoration: none;
    border-radius: 20px;
    padding-left: 10px !important;
    padding-right: 10px;
}

.markdown-preview-view a.tag {
    color: var(--tag-border-color);
}