:root {
	--default-font: Bierstadt, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
}


.theme-light {
	--background-secondary:#292C2E;
	--background-secondary-alt:#292C2E;
	--background-primary-alt:#292C2E;
	--text-accent: rgb(35, 124, 207) !important;
	--text-accent-hover: rgb(124, 178, 228);
	--font: #3c3c3c;
	--text-normal:var(--text-nav);
	--code-block-border: #b6aa91;
}

.theme-dark {
	--text-accent: rgb(44, 133, 218) !important;
	--text-accent-hover: rgb(124, 178, 228);
	--font: rgb(192, 186, 186) !important;
	--code-block-background: rgb(44, 42, 42);
  	--code-block-border: #534d40;

}


.workspace-leaf-content .view-content{
	color:var(--font) !important;
}

.markdown-preview-view {
	color:var(--font) !important;
}

.graph-view.color-text {
	color:#ffffff;
	opacity: 1;
}

.graph-view.color-circle
{
	color:#d6ba7c;
	opacity: 1;
}

.graph-view.color-line {
	color:#d6ba7c;
	opacity: 1;

}
.workspace-ribbon.mod-left.is-collapsed, .workspace-ribbon.mod-right.is-collapsed {
	border: none;
}

.setting-item {
	border-top: none;
}

.setting-item-control select, .dropdown:hover, .setting-item-control option {
	background-color: var(--background-secondary) !important;
}

.checkbox-container {
	background-color: #3c3c3c;
}
input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='number'] {
	background-color: var(--background-secondary) !important;
	border-color: #3c3c3c;
}

.suggestion-container {
	background-color: #292C2E !important;
	border: none;
}

::selection {
	background-color:currentColor;
}

.day.svelte-q3wqg9:hover {
	background-color: #3c3c3c !important;
}

.cute-card-view {
	color: currentColor !important;
}

.nav-file-title, .nav-folder-title {
	font-size: 16px;
}

.markdown-preview-view mark, .cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight {
	color: currentColor !important;
}

.prompt {
	background-color: var(--background-secondary) !important;
}

.zoteroResult:hover {
	background-color: #3c3c3c !important;
	border-radius: 5px;
	padding: 1%;
}

.zoteroCitekey, .zoteroAuthors {
	color: #808080 !important;
}

.menu {
	background-color: var(--background-secondary) !important;
	border: black;
}

.menu-separator {
	border-bottom: 1px solid #3c3c3c;
}

.nav-file-title.is-being-dragged, .nav-folder-title.is-being-dragged {
	background-color: #3c3c3c;
}

.nav-file-tag {
	background-color: #3c3c3c;
	color: #808080;
}

.cm-s-obsidian span.cm-inline-code, .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
	background: inherit;
}

.modal.mod-settings button:not(.mod-cta):not(.mod-warning) {
	border: 1px solid var(--code-block-border);
}

.community-plugin-info h1, .community-plugin-info h2, .community-plugin-info h3, .community-plugin-info h4, .community-plugin-info h5,.community-plugin-info h6, .community-plugin-info p, .community-plugin-info li, .community-plugin-info ul, .community-plugin-info .markdown-preview-view th, .community-plugin-info .markdown-preview-view td {
	color: lightgrey;
}