:root {
	--default-font: Bierstadt, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
}


.theme-light {
	--background-secondary:#292C2E;
	--background-secondary-alt:#292C2E;
	--background-primary-alt:#292C2E;
	--text-accent: rgb(31, 137, 236) !important;
	--text-accent-hover: rgb(124, 178, 228);
	--font: #3c3c3c;
	--text-normal:var(--text-nav);
	--code-block-border: #b6aa91;
	--interactive-accent: #63a0d0;
	--interactive-accent-rgb: rgb(99, 160, 208);
	--interactive-accent-hover: #6db2e7;
	--golden-brown: #63a0d0;
	--background-secondary-alt: rgb(35, 37, 37) !important;
	--background-nav-alt: var(--background-secondary-alt);
	--background-nav: var(--background-nav-alt);
}

.theme-dark {
	--text-accent: rgb(6, 135, 255) !important;
	--text-accent-hover: rgb(124, 178, 228);
	--font: rgb(192, 186, 186) !important;
	--code-block-background: rgb(44, 42, 42);
  	--code-block-border: #534d40;
	--interactive-accent: #63a0d0;
	--interactive-accent-rgb: rgb(99, 160, 208);
	--interactive-accent-hover: #6db2e7;
	--golden-brown: #63a0d0;

}


.workspace-leaf-content .view-content{
	color:var(--font) !important;
}

.markdown-preview-view {
	color:var(--font) !important;
}

.graph-view.color-text {
	color: var(--font);
	opacity: 1;
}

.graph-view.color-circle
{
	color: var(--text-accent) !important;
	opacity: 1;
}

.graph-view.color-line, .graph-view.color-fill-tag {
	color: rgb(177, 177, 246) !important;
	opacity: 1;

}
.workspace-ribbon.mod-left.is-collapsed, .workspace-ribbon.mod-right.is-collapsed {
	border: none;
}

.setting-item {
	border-top: none;
}

.setting-item-control select, .dropdown:hover, .setting-item-control option {
	background-color: var(--background-secondary) !important;
	border: 1px solid #3c3c3c !important;
}

.kanban-plugin__board-settings-modal .choices__list--single {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23483699%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-color: var(--background-secondary) !important;
	border: 1px solid #3c3c3c !important;
}

.choices__item--selectable {
	background-color: var(--background-secondary) !important;
}

.choices__list--dropdown {
	border: 1px solid #3c3c3c !important;

}

.kanban-plugin__board-settings-modal .choices[data-type*="select-one"] .choices__input {
	border-bottom-color: #3c3c3c !important;
}

.checkbox-container {
	background-color: #3c3c3c;
}
input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='number'] {
	background-color: var(--background-secondary) !important;
	border-color: #3c3c3c;
}

.suggestion-container {
	background-color: #292C2E !important;
	border: none;
}

.day.svelte-q3wqg9:hover {
	background-color: #3c3c3c !important;
}

.cute-card-view {
	color: currentColor !important;
}

.nav-file-title, .nav-folder-title {
	font-size: 16px;
}

.markdown-preview-view mark, .cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight {
	color: currentColor !important;
}

.prompt {
	background-color: var(--background-secondary) !important;
}

.zoteroResult:hover {
	background-color: #3c3c3c !important;
	border-radius: 5px;
	padding: 1%;
}

.zoteroCitekey, .zoteroAuthors {
	color: #808080 !important;
}

.menu {
	background-color: var(--background-secondary) !important;
	border: black;
}

.menu-separator {
	border-bottom: 1px solid #3c3c3c;
}

.nav-file-title.is-being-dragged, .nav-folder-title.is-being-dragged {
	background-color: #3c3c3c;
}

.nav-file-tag {
	background-color: #3c3c3c;
	color: #808080;
}

.cm-s-obsidian span.cm-inline-code, .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
	background: inherit;
}

.modal.mod-settings button:not(.mod-cta):not(.mod-warning), .modal button:not(.mod-cta):not(.mod-warning) {
	border: 1px solid #3c3c3c;
}

.community-plugin-info h1, .community-plugin-info h2, .community-plugin-info h3, .community-plugin-info h4, .community-plugin-info h5,.community-plugin-info h6, .community-plugin-info p, .community-plugin-info li, .community-plugin-info ul, .community-plugin-info .markdown-preview-view th, .community-plugin-info .markdown-preview-view td {
	color: lightgrey;
}

#zoteroSettingTab .text-monospace, #citationTemplateVariables {
	color: #808080;
}

#zoteroSettingTab textarea, textarea {
	background-color: var(--background-secondary);
	border-color: #3c3c3c;
}

.kanban-plugin__item-content-wrapper {
	background-color: #3c3c3c !important;
}

.kanban-plugin, .kanban-plugin__lane, .kanban-plugin__item-content-wrapper, button.kanban-plugin__new-lane-button {
	background-color: var(--background-primary) !important;
}
.kanban-plugin__item-input {
		background-color: var(--background-primary) !important;
		color: black;

}
.todoist-p4, .task-metadata {
	color: black;
}

.workspace-leaf-resize-handle {
	background-color: transparent !important;
}

.choices__inner {
	border: 0 !important;
}

.nav-action-button {
	padding: 5px 8px 0 8px !important;

}

.nav-action-button.is-active {
	background-color: rgb(124, 178, 228) !important;
}
.tag-pane-tag-count {
	color: var(--background-secondary-alt);
}
