@font-face {
	font-family: "Seaford";
	src: url(".obsidian/src/seaford.ttf")
}

@font-face {
	font-family: "Seaford";
	src: url(".obsidian/src/seaford-bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Bierstadt";
	src: url(".obsidian/src/Bierstadt.ttf")
}

@font-face {
	font-family: "Bierstadt";
	src: url(".obsidian/src/Bierstadt-bold.ttf");
	font-weight: bold;
}


:root {
  --accent-h: 211; /* Accent hue */
  --accent-s: 100%; /* Accent saturation */
  --accent-l: 50%; /* Accent lightness Light Mode */
  --accent-d: calc(var(--accent-l) + 2%); /* Accent lightness Dark Mode */

  --color-black-rgb: 0, 0, 0;
  --color-white-rgb: 255, 255, 255;

  --text: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --text-editor: -apple-system, BlinkMacSystemFont, Bierstadt, sans-serif;
  --font-monospace: Menlo, SFMono-Regular, Consolas, "Roboto Mono", monospace;

}

.cm-s-obsidian .cm-header-1, .cm-s-obsidian .cm-header-2, .cm-s-obsidian .cm-header-3, .cm-s-obsidian .cm-header-4, .cm-s-obsidian .cm-header-5, .cm-s-obsidian .cm-header-6 {
	font-family: Seaford !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Seaford !important;
}

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list-ul:before {
	margin-top: 2px !important;
	margin-left: 1em !important;
	color: transparent;
	content:'';
	letter-spacing: 0 !important;
	position: relative;
}

.outliner-plugin-bls .cm-s-obsidian .CodeMirror-line {
	text-indent: 0 !important;
}

.cc-pretty-preview .markdown-preview-section > div > * {
margin : revert;
}

.outliner-plugin-bls .cm-hmd-list-indent .cm-tab::before {
	border-left: 0 !important
}

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list-ul:before {
	letter-spacing: 0 !important;
}