.cm-s-obsidian .CodeMirror-line * {
    -webkit-font-smoothing: auto;
}


/* Remove markdown clutter */

.cm-formatting {
    opacity: 0.1 !important;
}

.cm-string.cm-url,
.cm-formatting-link:not(.cm-link),
.cm-hmd-barelink,
.cm-hmd-internal-link,
.cm-comment,
.cm-s-obsidian span.cm-hmd-escape-backslash {
    font-size: 60%;
    opacity: 0.5;
}

.cm-hmd-barelink,
.cm-formatting-link:not(.cm-link),
.cm-hmd-internal-link {
    color: white !important;
    display: inline !important;
    opacity: 0.5 !important;
}

div:not(.CodeMirror-activeline)>.cm-attribute {
    display: none;
}

span.cm-formatting-list,
span.cm-formatting-code-block.cm-hmd-codeblock,
span.cm-formatting-task {
    display: inline !important;
    font-family: var(--font-monospace);
    opacity: 1 !important;
    ;
}


/* Blockquote: in edit mode with left border rendered instead of > */

div:not(.CodeMirror-activeline)>.cm-formatting.cm-formatting-quote,
div:not(.CodeMirror-activeline)>.cm-hmd-indent-in-quote {
    display: inline !important;
    color: transparent !important;
}

div:not(.CodeMirror-activeline)>.HyperMD-quote {
    background-color: rgba(231, 226, 226, 0.52);
    border-left: 3px solid var(--text-selection);
    border-color: rgb(21, 62, 122) !important;
}


/* Horizontal line in edit mode. Changes --- to full-width line */

.cm-hr {
    color: transparent !important;
    content: '' !important;
}

.cm-hr:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 80%;
    font-weight: bold;
    background: var(--text-faint) !important;
    left: 10%;
}


/* Checkboxes instead of brackets in edit mode */

div:not(.CodeMirror-activeline)>.cm-formatting-task.cm-meta,
div:not(.CodeMirror-activeline)>.cm-formatting-task.cm-property {
    color: transparent !important;
    position: relative;
    display: inline !important;
    margin-right: -0.1rem;
}

div:not(.CodeMirror-activeline)>.cm-formatting-task.cm-meta:after,
div:not(.CodeMirror-activeline)>.cm-formatting-task.cm-property:after {
    content: "☐" !important;
    position: absolute;
    top: 3px;
    left: 0px;
    color: var(--text-accent);
    font-size: 30px;
}

div:not(.CodeMirror-activeline)>.cm-formatting-task.cm-property:after {
    content: "☑" !important;
    position: absolute;
    top: 3px;
    left: 0px;
    color: var(--text-accent);
    font-size: 30px;
}


/* except image markdown */

.cm-formatting.cm-formatting-image.cm-image.cm-image-alt-text.cm-link,
cm-formatting.cm-formatting-image.cm-image.cm-image-marker {
    display: inline !important;
}


/*Change links color*/

.cm-s-obsidian .cm-url {
    color: rgb(31, 136, 255) !important;
    text-decoration: underline;
}

.markdown-preview-section hr {
    margin: 0 !important;
}

.markdown-preview-section hr:after {
    background: lightgrey !important;
    opacity: 100%;
}