.status-bar, .is-translucent .status-bar {
    line-height: normal !important;
    padding: 0 !important;
    display: block !important;   
}

.document-search-container {
    bottom: 96% !important;
}

.document-search-container.mod-replace-mode {
    bottom: 92% !important;
}

input.document-search-input.mod-no-match, input.document-replace-input.mod-no-match, input.document-search-input:focus, input.document-replace-input:focus {
    font-size: inherit !important;
    border-radius: 0 !important;
    
}







.container.svelte-180qotg>h3.svelte-180qotg {
    display: none;
}

.tag-pane-tag>div.collapse-icon::after {
    content: "" !important;
}

.tag-pane-tag>div.collapse-icon,
.tree-item-self .tree-item-icon:after,
.tree-item-icon.collapse-icon {
    padding-left: 0 !important;
    padding-right: 0 !important;
    transform: translate(-5px, 5px);
}

.tag-pane-tag-text:before,
.tree-item-self .tree-item-icon:after,
.tree-item-icon.collapse-icon {
    content: "" !important;
}

.tag-pane-tag>div.collapse-icon + div.tree-item-inner  {
    margin-left: -5% !important;
}


.nav-folder-children {
    padding-left: 0 !important;
}

img.emoji {
    display: inline-block !important;
    width: 4% !important;
    margin: 0 !important;
    height: 100% !important;
}

.nav-file-title .is-unsupported{
    margin-right:10% !important;
}

div.kanban-plugin__lane-header-wrapper>div.kanban-plugin__lane-title > span.markdown-preview-view.kanban-plugin__lane-title-text > p {
    color: var(--boldpink) !important;
    font-weight: 600 !important;
    font-size: 115%;
    font-family: var(--header);
}