@font-face {
    font-family: "Seaford";
    src: url("/Home/.obsidian/src/seaford.ttf")
}

@font-face {
    font-family: "Seaford";
    src: url("/Home/.obsidian/src/seaford-bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Bierstadt";
    src: url("/Home/.obsidian/src/bierstadt.ttf")
}

@font-face {
    font-family: "Bierstadt";
    src: url("/Home/.obsidian/src/bierstad-bold.ttf");
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&family=PT+Mono');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
:root,
.theme-light {
    --accent-h: 211;
    /* Accent hue */
    --accent-s: 100%;
    /* Accent saturation */
    --accent-l: 50%;
    /* Accent lightness Light Mode */
    --accent-d: calc(var(--accent-l) + 2%);
    /* Accent lightness Dark Mode */
    --border-dt: lightgrey;
    --color-black-rgb: 0, 0, 0;
    --color-white-rgb: 255, 255, 255;
    --text: -apple-system, BlinkMacSystemFont, 'Fira Code', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    --text-editor: -apple-system, BlinkMacSystemFont, Bierstadt, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    --font-monospace: 'Ubuntu Mono', monospace;
    --bullet: rgb(68, 64, 64);
}

.theme-dark {
    --border: darkgrey;
    --bullet: lightgrey;
}

.cm-s-obsidian .cm-header-1,
.cm-s-obsidian .cm-header-2,
.cm-s-obsidian .cm-header-3,
.cm-s-obsidian .cm-header-4,
.cm-s-obsidian .cm-header-5,
.cm-s-obsidian .cm-header-6 {
    font-family: Seaford, sans-serif !important;
}

pre.CodeMirror-line {
    font-family: 'iA Writer Quattro S', monospace !important;
}

.cc-pretty-preview .markdown-preview-section>div>* {
    margin: 3% 0 3%;
}

.outliner-plugin-bls .cm-hmd-list-indent .cm-tab::before {
    border-left: 0 !important
}

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list {
    letter-spacing: 0.5rem !important;
}

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list-ul:before {
    letter-spacing: 0 !important;
    margin-left: 0.5em !important;
    margin-top: 0;
}

ul {
    margin-block-start: 0 !important;
    bottom: 25%;
    position: relative;
    top: 0 !important;
    color: var(--bullet);
}

i#flexbox {
    display: flex;
    font-style: normal;
}

i#flexbox>i {
    flex: 1;
    font-style: normal;
    padding: 0px 7px;
}


/*
span.cm-list-1 {
	margin-left: 1em !important;
}
*/

span.cm-hr {
    filter: none !important;
}

.table-view-table>thead>tr>th {
    background-color: lightgrey;
    text-align: center;
    border-left: 1px solid rgb(202, 191, 191) !important;
    border-right: 1px solid rgb(202, 191, 191) !important;
    border-top: 1px solid rgb(202, 191, 191) !important;
    color: black;
}

.table-view-table>tbody>tr>td {
    border: 1px solid var(--border-dt) !important;
    padding-left: 2em !important
}

ul.dataview.dataview-ul.dataview-result-list-ul {
    padding-left: 0.5em !important;
}

.cm-s-obsidian .HyperMD-codeblock {
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 90%;
}

.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
    font-weight: bold;
}

.markdown-preview-view pre code {
    font-weight: bold;
}

body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
    background-color: var(--background-nav-alt);
}

div[data-tag-name='p']+div[data-tag-name='ul'] {
    margin-top: -20px;
}

div[data-tag-name='ul']+div[data-tag-name='p'] {
    margin-top: -20px;
}

.markdown-preview-view {
    font-size: calc(var(--editor-font-size) + 10%) !important;
}