.graph-view.color-fill {

  color: var(--interactive-accent);

}

.graph-view.color-circle {

  color: var(--text-on-accent);

}

.graph-view.color-line {

  color: var(--background-tertiary);

}

.graph-view.color-text {

  color: var(--text-normal);

}

.graph-view.color-fill-highlight {

  color: var(--interactive-accent);

}

.graph-view.color-line-highlight {

  color: rgb(var(--interactive-accent-rgb));

}