/* ====== Tag Pills ======== */

:root {
	--tag: rgb(29, 88, 143);
}

.tag:not(.token)  {
	content:"";
	border-radius:7px !important;
	color: white !important;
	padding: 1px 8px !important;
	text-align: center;
	text-decoration: none;
	margin: 0px 0px;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	background-color:var(--tag);
	font-size: 80%;
}

.cm-s-obsidian span.cm-hashtag{
  background-color: var(--tag);
  color:white;
}

.CodeMirror-line span.cm-hashtag-begin {
  color: rgba(0, 0, 0, 0.178) !important;
  font-family: 'Nunito', sans-serif !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
  background-color: transparent
}

.CodeMirror-line span.cm-hashtag-begin:before {
	content:"";
}

.CodeMirror-line span.cm-hashtag-end{
	content:"";
	color: white !important;
	padding: 1px 8px !important;
	text-align: center;
	text-decoration: none;
	margin: 0px 0px;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	  background-color: var(--tag);
  color:white;
  border-radius: 5px !important;
  font-size: 80%;
}
.markdown-preview-section a:hover {
	text-shadow: 1px 1px 0 rgba(182, 176, 238, 0.438) !important;
}